.item {
  position: relative;
  padding: 10px 30px 10px 50px;
  border-bottom: 1px solid #ccc;
  width: 100%;

  .text {
    word-wrap: break-word;
    transition: .3s linear;

    &.completed {
      text-decoration: line-through;
      opacity: .3;
    }
  }

  .completeBtn {
    position: absolute;
    left: 10px;
    top: 14px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: transparent;
    border: 1px solid #000;
    cursor: pointer;

    svg {
      position: absolute;
      bottom: -2px;
      left: -2px;
    }
  }

  .deleteBtn {
    position: absolute;
    right: 10px;
    top: 12px;
    cursor: pointer;
    border: none;
    background: transparent;
    img {
      width: 20px;
      height: 20px;
    }
  }
}